@page
@model ASP.NET_MVC.Pages.Tables_Patient.DetailsModel

@{
    ViewData["Title"] = "Деталі";
    Layout = "~/Pages/Tables/_LayoutTable.cshtml";
}

<h1>Деталі</h1>

<div>
    <h4>Пацієнти</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.First_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.First_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Last_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Last_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Middle_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Middle_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Disease)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Disease)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Arrival_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Arrival_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Discharge_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Discharge_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Ward)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Ward)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.LuckLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.LuckLevel)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Patient?.IDpat">Редагувати</a>
    <a class="nav-link" asp-page="./Index">Назад</a>
</div>
