@page
@model ASP.NET_MVC.Pages.Tables_Proced.DeleteModel

@{
    ViewData["Title"] = "Видалити";
    Layout = "~/Pages/Tables/_LayoutTable.cshtml";
}

<h1>Видалити</h1>

<h3>Ви абсолютно впевнені, що хочете видалити цей рядок?</h3>
<div>
    <h4>Процедури</h4>
    <hr />
    <p>Процедура</p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Patient_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Patient_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Equipment_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Equipment_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Staff_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Staff_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Medicine_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Medicine_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Price)
        </dd>
    </dl>
    <p>Обладнання</p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Equipment.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Equipment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Equipment.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Equipment.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Equipment.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Equipment.Manufacturer)
        </dd>
    </dl>
    <p>Препарат</p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Medicine.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Medicine.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Medicine.Producer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Medicine.Producer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Medicine.Created_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Medicine.Created_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Medicine.Expiration_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Medicine.Expiration_Date)
        </dd>
    </dl>
    <p>Пацієнт</p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Patient.First_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Patient.First_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Patient.Last_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Patient.Last_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Patient.Middle_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Patient.Middle_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Patient.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Patient.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Patient.Disease)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Patient.Disease)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Patient.Arrival_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Patient.Arrival_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Patient.Discharge_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Patient.Discharge_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Patient.Ward)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Patient.Ward)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Patient.LuckLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Patient.LuckLevel)
        </dd>
    </dl>
    <p>Лікар</p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Staff.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Staff.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Staff.Last_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Staff.Last_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Staff.Middle_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Staff.Middle_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Staff.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Staff.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proced.Staff.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proced.Staff.Position)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Proced.IDproc" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <a class="nav-link" asp-page="./Index">Назад</a>
    </form>
</div>
